<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>skillzPlaza</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>


  <div class="container">
    <h1>skillzPlaza</h1>
    <div class="row">
      <div class="col-md-12">
        <div id="tournament-nav"></div>
        <div class="page"></div>
        <div class="secondary"> </div>
        <hr/>
      </div>
     
    </div>
  </div>

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.7/backbone.localStorage-min.js"></script>
 
  <script type="text/template" id="tournament-nav-template">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#">Settings</a></li>
      <li><a href="game">Profile</a></li>
      <li><a href="#">Messages</a></li>
    </ul>
  </script>

  <script type="text/template" id="tournament-settings-template">
  	<h4 id="userName">New user: <%= name %></h4>
    <form class="form-inline tournament-settings-form" role="form">
      <div class="form-group">
        <label for="rounds">Name</label>
        <input class="form-control " id="rounds" name="rounds" type="text" />
      </div>  
      <table class="table table-striped">
        <thead>
          <tr><th>Primary Skills</th><th>Remove</th</tr>
        </thead>
        <tbody id="player-table">
          
          <% _.each(players, function(player) { %>
            <tr>
              <td><%= player.get('name') %></td>
              <td><button type="button" class="btn btn-danger removePlayer" id="<%=player.id %>">X</button></td> 
            </tr>
          <% }); %>
          <tr>
            <td><input id="new-player" class="form-control" name="player" type="text" />
            </td><td></td>
          </tr>
        </tbody>
      </table>
      
      
    </form>
  	
  </script>

   <script type="text/template" id="desired-skills-template">
    <form class="form-inline tournament-settings-form" role="form">
      <table class="table table-striped">
        <thead>
          <tr><th>Desired Skills</th><th>Remove</th</tr>
        </thead>
        <tbody id="player-table">
          
          <% _.each(players, function(player) { %>
            <tr>
              <td><%= player.get('name') %></td>
              <td><button type="button" class="btn btn-danger removePlayer" id="<%=player.id %>">X</button></td> 
            </tr>
          <% }); %>
          <tr>
            <td><input id="new-player" class="form-control" name="player" type="text" />
            </td><td></td>
          </tr>
        </tbody>
      </table>
      
      
    </form>
    
  </script>

  <script type="text/template" id="tournament-round-template">
      <h4>Round <%=number %></h4>
      <table class="table table-striped" style="width:auto">
        <theader>
          <tr><th>Table</th><th>Player 1</th><th>VP</th><th>VP</th><th>Player 2</th></tr>
        </theader>
        <tbody>
          <% _.each(tables, function(table) { %>
            <tr>
              <td><%= table.number %></td>
              <td><%= table.player1name %></td>
              <td><input id="<%= table.player1id %>" value="<%= table.player1vp %>" class="form-control" 
                style="width:50px" /></td>
              <td><input id="<%= table.player2id %>" value="<%= table.player2vp %>" class="form-control" 
                style="width:50px"/></td>
              <td><%= table.player2name %></td>
              
            </tr>
          <% }); %>
        <tbody>
      </table>
      <button type="button" id="generate-round" class="btn btn-primary">Generate round <%= parseInt(number) + 1 %></button>
  </script>

  <script type="text/template" id="tournament-no-round-template">
      <h4>Round <%=number %> does not exist</h4>
      Sorry!
  </script>

  <script src="tournafaux.js"></script>

</body>
</html> 